Repository python-discord/sir-lancebot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ks129, @Akarys42, @SebastiaanZ, @Den4200

.github/CODEOWNERS:

# Extensions groups
bot/exts/events/advent_of_code/**                   @ks129
bot/exts/events/hacktoberfest/**                    @ks129
bot/exts/holidays/halloween/**                      @ks129

# CI & Docker
.github/workflows/**                    @Akarys42 @SebastiaanZ @Den4200
Dockerfile                              @Akarys42 @Den4200
docker-compose.yml                      @Akarys42 @Den4200

# Tools
poetry.lock                             @Akarys42
pyproject.toml                          @Akarys42

Removing redundant comments
  bot/exts/utilities/challenges.py
Owners: none

Fixing linting errors
  bot/exts/utilities/challenges.py
Owners: none

mapping of kyu -> constant
  bot/exts/utilities/challenges.py
Owners: none

adding trailing comma
  bot/exts/utilities/challenges.py
Owners: none

specific comment regarding where colors are from for `MAPPING_OF_KYU`
  bot/exts/utilities/challenges.py
Owners: none

changing name to link too along with link button
  bot/exts/utilities/challenges.py
Owners: none

adding ellipsis to make it more clear for `Read more`
  bot/exts/utilities/challenges.py
Owners: none

removing redundant sentences from all docstrings of embed creator functions
  bot/exts/utilities/challenges.py
Owners: none

fixing unboundlocalerror due to kata_url only being defined under a certain condition
  bot/exts/utilities/challenges.py
Owners: none

only allowing supported languages on codewars.com
  bot/exts/utilities/challenges.py
Owners: none

fixing url glitch with embed
  bot/exts/utilities/challenges.py
Owners: none

Add debug logs, and send embed
  bot/exts/utilities/wtf_python.py
Owners: none

Move .json file to correct folder
  bot/resources/utilities/ryanzec_colours.json
Owners: none

Add fuzzy match function
  bot/exts/utilities/color.py
Owners: none

Remove placeholder comment
  bot/exts/utilities/color.py
Owners: none

Improve indenting and code consistency in the AoC cog
  bot/exts/events/advent_of_code/_cog.py
Owners: @ks129

Delete hangman.py
  bot/exts/fun/hangman.py
Owners: none

Delete top_1000_used_words.txt
  bot/resources/fun/top_1000_used_words.txt
Owners: none

hangman dependencies leaked into this PR, removing them
  poetry.lock
  pyproject.toml
Owners: @Akarys42

add bs4 and lxml back to lock file
  poetry.lock
  pyproject.toml
Owners: @Akarys42

remove 3 letter words
  bot/resources/fun/top_1000_used_words.txt
Owners: none

add the word python
  bot/resources/fun/top_1000_used_words.txt
Owners: none

remove all 3 letter words - forgot to remove some
  bot/resources/fun/top_1000_used_words.txt
Owners: none

case insensitivity
  bot/exts/fun/hangman.py
Owners: none

changes to improve gameplay
  bot/exts/fun/hangman.py
  bot/resources/fun/hangman_words.txt
Owners: none

Capitalize comments
  bot/exts/utilities/challenges.py
Owners: none

Improving comments (capitalization)
  bot/exts/utilities/challenges.py
Owners: none

polishing
  bot/exts/utilities/challenges.py
Owners: none

explaining that self.original_message will be set later in the callback function of the dropdown
  bot/exts/utilities/challenges.py
Owners: none

Add markdown file creation
  bot/exts/utilities/wtf_python.py
Owners: none

Move the list(map(str.strip , ...) to for loop
  bot/exts/utilities/wtf_python.py
Owners: none

Remove line
  bot/exts/utilities/wtf_python.py
Owners: none

Load json file once
  bot/exts/utilities/color.py
Owners: none

Use StringIO for file creation
  bot/exts/utilities/wtf_python.py
Owners: none

Update file creation with StringIO
  bot/exts/utilities/wtf_python.py
Owners: none

setting check outside of every iteration
  bot/exts/fun/hangman.py
Owners: none

checking if a letter has already been guessed
  bot/exts/fun/hangman.py
Owners: none

added .gitpod.yml
  .gitpod.yml
Owners: none

feat: Added quack command
  bot/exts/fun/quack.py
Owners: none

Improve code transparency in the AoC helpers
  bot/exts/events/advent_of_code/_helpers.py
Owners: @ks129
