Repository python-discord/sir-lancebot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ks129, @Akarys42, @SebastiaanZ, @Den4200

Update bot/exts/fun/uwu.py
  bot/exts/fun/uwu.py
Owners: none

Update bot/exts/fun/uwu.py
  bot/exts/fun/uwu.py
Owners: none

Update bot/exts/fun/uwu.py
  bot/exts/fun/uwu.py
Owners: none

Update bot/exts/fun/uwu.py
  bot/exts/fun/uwu.py
Owners: none

Update bot/exts/fun/uwu.py
  bot/exts/fun/uwu.py
Owners: none

Update bot/exts/fun/uwu.py
  bot/exts/fun/uwu.py
Owners: none

Check role id in MODERATION_ROLES instead of compare to moderation_team and safeguard `.roles` attribute
  bot/exts/fun/snakes/_utils.py
  bot/exts/fun/trivia_quiz.py
Owners: none

Set `AI.user` to @Sir Lancebot
  bot/exts/fun/tic_tac_toe.py
Owners: none

Add missing `Game.channel` attribute
  bot/exts/fun/tic_tac_toe.py
Owners: none

Rename `Roles.moderator` to `Roles.moderation_team`
  bot/constants.py
  bot/exts/fun/snakes/_utils.py
  bot/exts/fun/trivia_quiz.py
Owners: none

Rename `Roles.admin` to `Roles.admins`
  bot/constants.py
  bot/exts/core/internal_eval/_internal_eval.py
  bot/exts/events/advent_of_code/_cog.py
Owners: @ks129

Rename `Roles.owner` to `Roles.owners`
  bot/constants.py
Owners: none

Check role id in MODERATION_ROLES instead of comparing to moderation_team and safeguard `.roles` attribute
  bot/exts/fun/snakes/_utils.py
  bot/exts/fun/trivia_quiz.py
Owners: none

Check role id in STAFF_ROLES instead of comparing to helpers
  bot/exts/events/advent_of_code/_cog.py
Owners: @ks129

Make certain AOC commands guild-only
  bot/exts/events/advent_of_code/_cog.py
Owners: @ks129

Initial Madlibs commit
  bot/exts/fun/madlibs/madlibs.py
Owners: none

Add a JSON file with the story templates
  bot/exts/fun/madlibs/madlibs_templates.json
Owners: none

Some changes to fix lint errors
  bot/exts/fun/madlibs/madlibs.py
Owners: none

Use CLDR style emoji rather than plain unicode
  bot/bot.py
Owners: none

Fix lint errors in the templates JSON file
  bot/exts/fun/madlibs/madlibs_templates.json
Owners: none

More changes to fix lint errors
  bot/exts/fun/madlibs/madlibs.py
  bot/exts/fun/madlibs/madlibs_templates.json
Owners: none

Fixing more lint errors
  bot/exts/fun/madlibs/madlibs.py
Owners: none

More changes to fix lint failing
  bot/exts/fun/madlibs/madlibs.py
Owners: none

feat: added cowsay
  bot/exts/fun/cowsay.py
  poetry.lock
  pyproject.toml
Owners: @Akarys42

deps: added cowpy 1.1.1
  poetry.lock
  pyproject.toml
Owners: @Akarys42

update advent of code channel IDs
  bot/constants.py
Owners: none

Improve overall code transparency and indenting in the AoC cog and views
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/events/advent_of_code/views/dayandstarview.py
Owners: @ks129

changing `logger` to `log`
  bot/exts/utilities/challenges.py
Owners: none

Change `logger` to `log` for logging errors
  bot/exts/utilities/challenges.py
Owners: none

Challenges (#860)
  bot/exts/utilities/challenges.py
  poetry.lock
  pyproject.toml
Owners: @Akarys42

fixing errors
  bot/exts/utilities/challenges.py
Owners: none

Fix GH-907
  bot/exts/events/hacktoberfest/hacktober-issue-finder.py
Owners: @ks129

requested changes from TizzySaurus implemented
  bot/exts/utilities/challenges.py
Owners: none

removed repeating query is None
  bot/exts/utilities/challenges.py
Owners: none

Remove unnecessary returns in the AoC cog and view
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/events/advent_of_code/views/dayandstarview.py
Owners: @ks129

Add support to query AoC results in respect of days and stars (#857)
  bot/constants.py
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/events/advent_of_code/_helpers.py
  bot/exts/events/advent_of_code/views/dayandstarview.py
Owners: @ks129

Hacktoberfest Migration
  bot/exts/events/hacktoberfest/__init__.py
  bot/exts/events/hacktoberfest/_cog.py
  bot/exts/events/hacktoberfest/_utils.py
  bot/exts/events/hacktoberfest/hacktober-issue-finder.py
  bot/exts/events/hacktoberfest/hacktoberstats.py
  bot/exts/events/hacktoberfest/timeleft.py
Owners: @ks129

Fix bugs in `.issue` command & add aliases
  bot/exts/utilities/issues.py
Owners: none

Address review & make `AI.get_move` a staticmethod
  bot/exts/fun/tic_tac_toe.py
Owners: none

Add a border around the scary bat
  bot/resources/holidays/halloween/bat-clipart.png
Owners: none

.github/CODEOWNERS:

# Extensions groups
bot/exts/events/advent_of_code/**                   @ks129
bot/exts/events/hacktoberfest/**                    @ks129
bot/exts/holidays/halloween/**                      @ks129

# CI & Docker
.github/workflows/**                    @Akarys42 @SebastiaanZ @Den4200
Dockerfile                              @Akarys42 @Den4200
docker-compose.yml                      @Akarys42 @Den4200

# Tools
poetry.lock                             @Akarys42
pyproject.toml                          @Akarys42
