Repository python-discord/sir-lancebot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ks129, @Akarys42, @SebastiaanZ, @Den4200

Implementing changes requested by Bluenix and TizzySaurus
  bot/exts/fun/madlibs/madlibs.py
Owners: none

Changing some variable names and added a while loop in the async function to loop until there are no more inputs left for the user to enter
  bot/exts/fun/madlibs/madlibs.py
Owners: none

Add core-devs role to allowed mentions before messaging
  bot/bot.py
Owners: none

Add ignore cache option for load_extensions
  bot/bot.py
  bot/exts/core/extensions.py
Owners: none

Override bot.start to load the extensions
  bot/__main__.py
  bot/bot.py
Owners: none

Fix typos and make passing single extension explicit
  bot/bot.py
  bot/exts/core/extensions.py
Owners: none

Temp fix for `.hacktoberfest stats`
  bot/exts/events/hacktoberfest/_utils.py
Owners: @ks129

Use display_avatar instead of avatar in send_pride_image
  bot/exts/avatar_modification/avatar_modify.py
Owners: none

Implementing changes requested by TizzySaurus (part 1)
  bot/exts/fun/madlibs/madlibs.py
  bot/resources/fun/madlibs_templates.json
Owners: none

Restructured the Python file back to bot/exts/fun
  bot/exts/fun/madlibs.py
Owners: none

Fixed a typo
  bot/exts/fun/madlibs.py
Owners: none

Added send commands to the embeds
  bot/exts/fun/madlibs.py
Owners: none

Migrate to `og_blurple`
  bot/exts/core/extensions.py
  bot/exts/holidays/halloween/candy_collection.py
  bot/exts/utilities/conversationstarters.py
  bot/exts/utilities/emoji.py
  bot/exts/utilities/githubinfo.py
  bot/exts/utilities/reddit.py
  bot/exts/utilities/wikipedia.py
Owners: @ks129

Bump pip licenses
  poetry.lock
  pyproject.toml
Owners: @Akarys42

Made a small mistake in calling the "_load_templates" function
  bot/exts/fun/madlibs.py
Owners: none

Add WTF Python Command (#859)
  bot/exts/utilities/wtf_python.py
  bot/resources/utilities/wtf_python_logo.jpg
Owners: none

Deleted parentheses where it's not needed
  bot/exts/fun/madlibs.py
Owners: none

Temporarily adding a send command so the bot prints out `self.templates`
  bot/exts/fun/madlibs.py
Owners: none

Temporarily adding a print statement for `self.templates`... again
  bot/exts/fun/madlibs.py
Owners: none

Add ISort to our toolchain
  poetry.lock
  pyproject.toml
Owners: @Akarys42

Isort: give the codebase a sort
  bot/__init__.py
  bot/exts/core/help.py
  bot/exts/core/internal_eval/_internal_eval.py
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/holidays/easter/earth_photos.py
  bot/exts/holidays/halloween/scarymovie.py
  bot/exts/utilities/issues.py
  bot/utils/checks.py
  bot/utils/halloween/spookifications.py
Owners: @ks129

Precommit: add an isort hook
  .pre-commit-config.yaml
Owners: none

CI: only check licenses of dev deps
  .github/workflows/lint.yaml
Owners: @Akarys42, @SebastiaanZ, @Den4200

temp: add restructured template as comments
  bot/exts/utilities/color.py
Owners: none

temp: add restructured layout in comments
  bot/exts/utilities/color.py
Owners: none

fix: finish restructure with all functionality
  bot/exts/utilities/color.py
Owners: none

chore: fix import order due to isort
  bot/exts/utilities/color.py
Owners: none

chore: code cleanup
  bot/exts/utilities/color.py
Owners: none

chore: code cleanup
  bot/exts/utilities/color.py
Owners: none

Add core logic to interact with global leaderboard
  bot/bot.py
  bot/exts/core/leaderboard.py
  bot/exts/fun/coinflip.py
Owners: none

Changes to Madlibs
  bot/exts/fun/madlibs.py
Owners: none

Removed unnecessary spaces in the story templates
  bot/resources/fun/madlibs_templates.json
Owners: none

Migrate to `og_blurple` (#924)
  bot/exts/core/extensions.py
  bot/exts/holidays/halloween/candy_collection.py
  bot/exts/utilities/conversationstarters.py
  bot/exts/utilities/emoji.py
  bot/exts/utilities/githubinfo.py
  bot/exts/utilities/reddit.py
  bot/exts/utilities/wikipedia.py
Owners: @ks129

Add support max points per day, and per day leaderboard
  bot/bot.py
  bot/exts/core/leaderboard.py
  bot/exts/fun/coinflip.py
Owners: none

Add option to clear the game leaderboard
  bot/exts/core/leaderboard.py
Owners: none

Add support for passing command names to leaderboard
  bot/exts/core/leaderboard.py
Owners: none

Clear the correct leaderboard when using the clear command
  bot/exts/core/leaderboard.py
Owners: none

fix: testing fixes
  bot/exts/utilities/color.py
Owners: none

chore: embed format tweaking
  bot/exts/utilities/color.py
Owners: none

chore: move send_colour_response to top of class
  bot/exts/utilities/color.py
Owners: none

.github/CODEOWNERS:

# Extensions groups
bot/exts/events/advent_of_code/**                   @ks129
bot/exts/events/hacktoberfest/**                    @ks129
bot/exts/holidays/halloween/**                      @ks129

# CI & Docker
.github/workflows/**                    @Akarys42 @SebastiaanZ @Den4200
Dockerfile                              @Akarys42 @Den4200
docker-compose.yml                      @Akarys42 @Den4200

# Tools
poetry.lock                             @Akarys42
pyproject.toml                          @Akarys42
