Repository python-discord/sir-lancebot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ks129, @Akarys42, @SebastiaanZ, @Den4200

Handle Wikipedia API errors and warnings in the Wikipedia Cog
  bot/exts/evergreen/wikipedia.py
Owners: none

Refactor wiki_request, add External API related error,-handler
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/wikipedia.py
  bot/utils/exceptions.py
Owners: none

Added emoji IDs to constants.py
  bot/constants.py
Owners: none

Add codeql workflow
  .github/workflows/codeql-analysis.yml
Owners: @Akarys42, @SebastiaanZ, @Den4200

codeql: don't install deps again when initilising
  .github/workflows/codeql-analysis.yml
Owners: @Akarys42, @SebastiaanZ, @Den4200

Pinned aioredis to 1.3 and relocked dependencies
  poetry.lock
  pyproject.toml
Owners: @Akarys42

Replace fuzzywuzzy with rapidfuzz
  bot/exts/evergreen/help.py
  bot/exts/evergreen/snakes/_converter.py
  bot/exts/evergreen/trivia_quiz.py
  bot/exts/pride/pride_leader.py
  poetry.lock
  pyproject.toml
Owners: @Akarys42

Modify code to comply with new linter error N818
  bot/exts/christmas/advent_of_code/_helpers.py
  bot/utils/pagination.py
Owners: @ks129

Update Hacktoberstats' get_october_prs function to use aiohttps get params
  bot/exts/halloween/hacktoberstats.py
Owners: @ks129

Update the Wikipedia Cog to use aiohttp get params
  bot/exts/evergreen/wikipedia.py
Owners: none

Update the movie cog to use aiohttp get params
  bot/exts/evergreen/movie.py
Owners: none

Use quote_plus instead of quote in the Githubinfo Cog
  bot/exts/evergreen/githubinfo.py
Owners: none

Improve code consistency in Movie, Wikipedia and Hactoberstats Cogs
  bot/exts/evergreen/movie.py
  bot/exts/evergreen/wikipedia.py
  bot/exts/halloween/hacktoberstats.py
Owners: @ks129

Improve code indentation in the Githubinfo Cog
  bot/exts/evergreen/githubinfo.py
Owners: none

Fine tune indenting in GithubInfo cog
  bot/exts/evergreen/githubinfo.py
Owners: none

Update Stackoverflow, Wolfram, movie_generator cogs to use aiohttp get params
  bot/exts/evergreen/githubinfo.py
  bot/exts/evergreen/stackoverflow.py
  bot/exts/evergreen/wolfram.py
  bot/exts/valentines/movie_generator.py
Owners: none

Upgrade code transparency in the StackOverflow Cog
  bot/exts/evergreen/stackoverflow.py
Owners: none

Update GithubInfo cog encode mechaninsm
  bot/exts/evergreen/githubinfo.py
Owners: none

Improve code consitency in Wikipedia Cog,Exceptions, and Error handler
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/wikipedia.py
  bot/utils/exceptions.py
Owners: none

Remove duplicated code, improve consitency in Wikipedia Cog, and error_handler
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/wikipedia.py
Owners: none

Created new branch and script for Real Python searching. Allows user to search Real Python for articles
  bot/exts/evergreen/realpython.py
Owners: none

Updated script to include ERR_EMBED
  bot/exts/evergreen/realpython.py
Owners: none

Updated import statements for "from discord.ext.commands import cooldowns" being on a separate line
  bot/exts/evergreen/realpython.py
Owners: none

Updated line 30 to include "commands.cooldowns" and removed "from discord.ext.commands import cooldown" line
  bot/exts/evergreen/realpython.py
Owners: none

Updated JSON headers for "results" and "url"
  bot/exts/evergreen/realpython.py
Owners: none

Updated line 62 for displaying link, not sure if correct method for joining URLs
  bot/exts/evergreen/realpython.py
Owners: none

Updates from comment feedback
  bot/exts/evergreen/realpython.py
Owners: none

Minor fixes to URL formatting
  bot/exts/evergreen/realpython.py
Owners: none

Properly fixed the URL template, hopefully
  bot/exts/evergreen/realpython.py
Owners: none

More URL fixing
  bot/exts/evergreen/realpython.py
Owners: none

Removed the index slicing for the number of articles
  bot/exts/evergreen/realpython.py
Owners: none

Add February in_month check to love calculator command
  bot/exts/valentines/lovecalculator.py
Owners: none

Require both members used in love calculator have opt-ed into lovefest
  bot/exts/valentines/lovecalculator.py
Owners: none

Sort the members before calculating a love score
  bot/exts/valentines/lovecalculator.py
Owners: none

Update love calculator docstring to reflect new behaviour
  bot/exts/valentines/lovecalculator.py
Owners: none

Remove unneeded checks in love calculator command
  bot/exts/valentines/lovecalculator.py
Owners: none

Update love calculator error output to be consistent with other role check fails
  bot/exts/valentines/lovecalculator.py
Owners: none

Calculator
  Calculator
Owners: none

This is Welcome.py
  Welcome.py
Owners: none

Calculator.py
  Calculator.py
Owners: none

.github/CODEOWNERS:

# Extensions groups
bot/exts/christmas/**                   @ks129
bot/exts/halloween/**                   @ks129

# CI & Docker
.github/workflows/**                    @Akarys42 @SebastiaanZ @Den4200
Dockerfile                              @Akarys42 @Den4200
docker-compose.yml                      @Akarys42 @Den4200

# Tools
poetry.lock                             @Akarys42
pyproject.toml                          @Akarys42
