Repository python-discord/sir-lancebot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ks129, @Akarys42, @SebastiaanZ, @Den4200

.github/CODEOWNERS:

# Extensions groups
bot/exts/events/advent_of_code/**                   @ks129
bot/exts/events/hacktoberfest/**                    @ks129
bot/exts/holidays/halloween/**                      @ks129

# CI & Docker
.github/workflows/**                    @Akarys42 @SebastiaanZ @Den4200
Dockerfile                              @Akarys42 @Den4200
docker-compose.yml                      @Akarys42 @Den4200

# Tools
poetry.lock                             @Akarys42
pyproject.toml                          @Akarys42

Add source credit and Color.from_rgb method to get discord color
  bot/exts/utilities/color.py
  bot/resources/utilities/ryanzec_colours.json
Owners: none

Fix lint errors of eac9d3b4194004894d4f4e50862f184db695d402
  bot/exts/utilities/color.py
Owners: none

Address Reviews V2
  bot/exts/events/hacktoberfest/_cog.py
  bot/exts/events/hacktoberfest/_utils.py
Owners: @ks129

Remove the "what's your skill level topic"
  bot/resources/utilities/py_topics.yaml
Owners: none

Limit user reactions on embed pagination
  bot/exts/utilities/wikipedia.py
Owners: none

fix: handle no query command usage
  bot/exts/utilities/wtf_python.py
Owners: none

fix: return None if no name match is found
  bot/exts/utilities/color.py
Owners: none

fix: use and handle conversions with name value
  bot/exts/utilities/color.py
Owners: none

fix: have description in-line
  bot/exts/utilities/color.py
Owners: none

fix: reduce 'from' imports
  bot/exts/utilities/color.py
Owners: none

rename to colour
  bot/exts/utilities/colour.py
Owners: none

fix: add new line and change elif to if
  bot/exts/utilities/wtf_python.py
Owners: none

Add option to get specific amount of articles
  bot/exts/utilities/realpython.py
Owners: none

Removed mistakenly added file, wikipedia.py from pull request
  bot/exts/utilities/wikipedia.py
Owners: none

fix: typing import issue from isort
  bot/exts/utilities/realpython.py
Owners: none

Update bot/exts/utilities/realpython.py
  bot/exts/utilities/realpython.py
Owners: none

Seperated if statement from other parts of code with new line
  bot/exts/utilities/realpython.py
Owners: none

Use medal emoji for first three places
  bot/exts/core/leaderboard.py
Owners: none

Add option to get specific amount of realpython articles
  bot/exts/utilities/realpython.py
Owners: none

Fixed the format of code to single line.
  bot/exts/utilities/wikipedia.py
Owners: none

Limit user reactions on embed pagination
  bot/exts/utilities/wikipedia.py
Owners: none

fix: add Optional type hint for query
  bot/exts/utilities/wtf_python.py
Owners: none

fix: add new line in embed
  bot/exts/utilities/wtf_python.py
Owners: none

Removing random 0's from the story templates in the JSON file
  bot/resources/fun/madlibs_templates.json
Owners: none

More changes to Madlibs
  bot/exts/fun/madlibs.py
Owners: none

Move game presentation into command description
  bot/exts/fun/madlibs.py
Owners: none

Add MadlibsTemplate to improve intellisense
  bot/exts/fun/madlibs.py
Owners: none

Change single quotes to double quotes
  bot/exts/fun/madlibs.py
Owners: none

Change visual indent to a hanging indent
  bot/exts/fun/madlibs.py
Owners: none

Add author check to madlibs game
  bot/exts/fun/madlibs.py
Owners: none

Convert while-loop into equivalent for-loop
  bot/exts/fun/madlibs.py
Owners: none

Remove dead `clear_fields()` code
  bot/exts/fun/madlibs.py
Owners: none

fix: have two newline characters instead of one
  bot/exts/utilities/wtf_python.py
Owners: none

lowering challenges for compatibility with uppercase languages
  bot/exts/utilities/challenges.py
Owners: none

Change language to language.lower()
  bot/exts/utilities/challenges.py
Owners: none

Handle `.wtf` command without query (#939)
  bot/exts/utilities/wtf_python.py
Owners: none

Fix line after function docstring
  bot/exts/utilities/challenges.py
Owners: none

fix: type hinting _rgb_to_cmyk
  bot/exts/utilities/colour.py
Owners: none

use pseudo-tty for sir-lancebot service
  docker-compose.yml
Owners: @Akarys42, @Den4200

remove unnecessary volumes
  Dockerfile
Owners: @Akarys42, @Den4200
