Repository python-discord/sir-lancebot, pull requests merged in 2019-02, with the labels that each got.

#100 Add LoveCalculator as described in #96
  bot/resources/valentines/love_matches.json
  bot/seasons/valentines/lovecalculator.py
Labels: season - valentines

#114 added command .romancemovie
  bot/seasons/valentines/movie_generator.py
Labels: season - valentines

#111 Readded fun.py file to evergreen and added roll command.
  bot/seasons/evergreen/fun.py
Labels: season - evergreen

#118 Refine love calculator command
  bot/bot.py
  bot/resources/valentines/love_matches.json
  bot/seasons/valentines/lovecalculator.py
Labels: season - valentines

#121 Add Terning Emoji to Constants, Update Fun Cog
  bot/constants.py
  bot/seasons/evergreen/fun.py
Labels: bot core, season - evergreen

#122 Add .who_is_valentine and .valentine_facts
  bot/resources/valentines/valentine_facts.json
  bot/seasons/valentines/whoisvalentine.py
Labels: season - valentines

#120 added help message for .savethedate and edited the error_message for cooldown error
  bot/seasons/evergreen/error_handler.py
  bot/seasons/valentines/savethedate.py
Labels: bot core, season - valentines

#112 Added command .bemyvalentine
  bot/resources/valentines/bemyvalentine_valentines.json
  bot/seasons/valentines/be_my_valentine.py
Labels: season - valentines
