Repository python-discord/sir-lancebot, pull requests merged in 2019-10, with the labels that each got.

#292 Pride facts
  bot/resources/pride/facts.json
  bot/seasons/pride/pride_facts.py
Labels: season - pride

#287 Drag Queen Name Generator
  bot/resources/pride/drag_queen_names.json
  bot/seasons/pride/drag_queen_name.py
Labels: season - pride

#296 Hacktober issue finder
  bot/seasons/halloween/hacktober-issue-finder.py
Labels: season - halloween, status: changes-requested, type: new feature

#294 Limit the issue and AoC commands to a superset of the global whitelist instead of bypassing it entirely
  bot/constants.py
  bot/seasons/christmas/adventofcode.py
  bot/seasons/evergreen/issues.py
  bot/seasons/halloween/hacktoberstats.py
Labels: area: bot core

#291 !issue Command Refinements
  bot/constants.py
  bot/seasons/evergreen/issues.py
Labels: area: bot core

#301 Hacktober issue finder fix - divide count by 100
  bot/seasons/halloween/hacktober-issue-finder.py
Labels: season - halloween, type: bug
