Repository python-discord/sir-lancebot, pull requests merged in 2019-04, with the labels that each got.

#173 Egghead Quiz
  bot/resources/easter/egghead_questions.json
  bot/seasons/easter/egghead_quiz.py
Labels: season - easter

#181 Created traditions.py and completed the easter_tradition command
  bot/resources/easter/traditions.json
  bot/seasons/easter/traditions.py
Labels: season - easter

#141 Spooky Rating
  bot/resources/halloween/spooky_rating.json
  bot/resources/halloween/spookyrating/baby.jpeg
  bot/resources/halloween/spookyrating/candle.jpeg
  bot/resources/halloween/spookyrating/clown.jpeg
  bot/resources/halloween/spookyrating/costume.jpeg
  bot/resources/halloween/spookyrating/devil.jpeg
  bot/resources/halloween/spookyrating/ghost.jpeg
  bot/resources/halloween/spookyrating/jackolantern.jpeg
  bot/resources/halloween/spookyrating/necromancer.jpeg
  bot/resources/halloween/spookyrating/tiger.jpeg
  bot/seasons/halloween/spookyrating.py
Labels: season - halloween

#180 Update contributor doc
  CONTRIBUTING.md
  bot/seasons/evergreen/lemonstats.py
Labels: documentation

#176 Easter Egg Decorating
  bot/resources/easter/easter_eggs/design1.png
  bot/resources/easter/easter_eggs/design2.png
  bot/resources/easter/easter_eggs/design3.png
  bot/resources/easter/easter_eggs/design4.png
  bot/resources/easter/easter_eggs/design5.png
  bot/resources/easter/easter_eggs/design6.png
  bot/resources/evergreen/html_colours.json
  bot/resources/evergreen/xkcd_colours.json
  bot/seasons/easter/egg_decorating.py
Labels: season - easter

#184 Created conversationstarters and created a convo_starter command easter
  bot/resources/easter/starter.json
  bot/seasons/easter/conversationstarters.py
Labels: season - easter

#195 Egg hunt
  bot/__init__.py
  bot/constants.py
  bot/resources/persist/egg_hunt.sqlite
  bot/seasons/easter/egg_hunt/__init__.py
  bot/seasons/easter/egg_hunt/cog.py
  bot/seasons/easter/egg_hunt/constants.py
Labels: approved, season - easter

#166 April fools vids
  bot/constants.py
  bot/resources/easter/april_fools_vids.json
  bot/seasons/easter/april_fools_vids.py
Labels: season - easter
