Repository python-discord/sir-lancebot, pull requests merged in 2019-03, with the labels that each got.

#91 AoC Join Code Refactor
  bot/constants.py
  bot/resources/advent_of_code/about.json
  bot/seasons/christmas/adventofcode.py
Labels: season - christmas

#129 Add .myvalenstate
  bot/resources/valentines/valenstates.json
  bot/seasons/valentines/myvalenstate.py
Labels: season - valentines

#148 Save the Date - Static Resource Load
  bot/seasons/valentines/savethedate.py
Labels: refinement, season - valentines

#153 setting up easter directory for the easter season
  bot/seasons/easter/__init__.py
Labels: season - easter

#152 Magic 8ball command
  bot/resources/evergreen/magic8ball.json
  bot/seasons/evergreen/magic_8ball.py
Labels: season - evergreen

#150 Add TRACE logging level (Fixes #149)
  bot/__init__.py
Labels: bot core

#155 CI & Deployment Cleanup
  .dockerignore
  azure-pipelines.yml
  docker/Dockerfile
  docker/docker-compose.yml
Labels: environment/dependencies

#132 Add new Cog class inheritance & event listener decoration
  Pipfile
  Pipfile.lock
  bot/bot.py
  bot/seasons/__init__.py
  bot/seasons/christmas/adventofcode.py
  bot/seasons/evergreen/error_handler.py
  bot/seasons/evergreen/fun.py
  bot/seasons/evergreen/snakes/__init__.py
  bot/seasons/evergreen/snakes/snakes_cog.py
  bot/seasons/evergreen/uptime.py
  bot/seasons/halloween/candy_collection.py
  bot/seasons/halloween/hacktoberstats.py
  bot/seasons/halloween/halloween_facts.py
  bot/seasons/halloween/halloweenify.py
  bot/seasons/halloween/monstersurvey.py
  bot/seasons/halloween/scarymovie.py
  bot/seasons/halloween/spookyavatar.py
  bot/seasons/halloween/spookygif.py
  bot/seasons/halloween/spookyreact.py
  bot/seasons/halloween/spookysound.py
  bot/seasons/season.py
  bot/seasons/valentines/be_my_valentine.py
  bot/seasons/valentines/lovecalculator.py
  bot/seasons/valentines/movie_generator.py
  bot/seasons/valentines/myvalenstate.py
  bot/seasons/valentines/pickuplines.py
  bot/seasons/valentines/savethedate.py
  bot/seasons/valentines/valentine_zodiac.py
  bot/seasons/valentines/whoisvalentine.py
Labels: bot core, environment/dependencies

#142 Time Left
  bot/seasons/halloween/timeleft.py
Labels: refinement, season - hacktober

#161 Add Easter icon url and embed colour.
  bot/seasons/easter/__init__.py
Labels: season - easter

#162 Always announce if docstring, better formatting.
  bot/seasons/season.py
Labels: bot core

#163 Improve easter announcement.
  bot/seasons/easter/__init__.py
Labels: season - easter

#146 Implement flake8-docstrings
  Pipfile
  Pipfile.lock
  bot/__init__.py
  bot/bot.py
  bot/decorators.py
  bot/pagination.py
  bot/seasons/christmas/__init__.py
  bot/seasons/christmas/adventofcode.py
  bot/seasons/easter/__init__.py
  bot/seasons/evergreen/__init__.py
  bot/seasons/evergreen/error_handler.py
  bot/seasons/evergreen/fun.py
  bot/seasons/evergreen/magic_8ball.py
  bot/seasons/evergreen/snakes/__init__.py
  bot/seasons/evergreen/snakes/converter.py
  bot/seasons/evergreen/snakes/snakes_cog.py
  bot/seasons/evergreen/snakes/utils.py
  bot/seasons/evergreen/uptime.py
  bot/seasons/halloween/__init__.py
  bot/seasons/halloween/candy_collection.py
  bot/seasons/halloween/hacktoberstats.py
  bot/seasons/halloween/halloween_facts.py
  bot/seasons/halloween/halloweenify.py
  bot/seasons/halloween/monstersurvey.py
  bot/seasons/halloween/scarymovie.py
  bot/seasons/halloween/spookyavatar.py
  bot/seasons/halloween/spookygif.py
  bot/seasons/halloween/spookyreact.py
  bot/seasons/halloween/spookysound.py
  bot/seasons/halloween/timeleft.py
  bot/seasons/pride/__init__.py
  bot/seasons/season.py
  bot/seasons/valentines/__init__.py
  bot/seasons/valentines/be_my_valentine.py
  bot/seasons/valentines/lovecalculator.py
  bot/seasons/valentines/movie_generator.py
  bot/seasons/valentines/myvalenstate.py
  bot/seasons/valentines/pickuplines.py
  bot/seasons/valentines/savethedate.py
  bot/seasons/valentines/valentine_zodiac.py
  bot/seasons/valentines/whoisvalentine.py
  bot/utils/halloween/spookifications.py
  tox.ini
Labels: environment/dependencies

#156 Cog inheritance hotfix
  Pipfile
  Pipfile.lock
  bot/seasons/christmas/adventofcode.py
  bot/seasons/easter/__init__.py
  bot/seasons/evergreen/error_handler.py
  bot/seasons/evergreen/fun.py
  bot/seasons/evergreen/magic_8ball.py
  bot/seasons/evergreen/uptime.py
  bot/seasons/halloween/candy_collection.py
  bot/seasons/halloween/hacktoberstats.py
  bot/seasons/halloween/halloween_facts.py
  bot/seasons/halloween/halloweenify.py
  bot/seasons/halloween/scarymovie.py
  bot/seasons/halloween/spookyavatar.py
  bot/seasons/halloween/spookygif.py
  bot/seasons/halloween/spookyreact.py
  bot/seasons/halloween/spookysound.py
  bot/seasons/halloween/timeleft.py
  bot/seasons/season.py
  bot/seasons/valentines/be_my_valentine.py
  bot/seasons/valentines/movie_generator.py
  bot/seasons/valentines/myvalenstate.py
  bot/seasons/valentines/pickuplines.py
  bot/seasons/valentines/savethedate.py
  bot/seasons/valentines/valentine_zodiac.py
  bot/seasons/valentines/whoisvalentine.py
Labels: bot core, bug, environment/dependencies
