Repository python-discord/sir-lancebot, pull requests merged in 2020-09, with the labels that each got.

#429 Wolfram cog
  bot/constants.py
  bot/exts/evergreen/wolfram.py
Labels: priority: 2 - normal, season: evergreen, type: feature

#435 Topic embeds
  bot/exts/evergreen/conversationstarters.py
  bot/resources/evergreen/py_topics.yaml
  bot/resources/evergreen/starter.json
  bot/resources/evergreen/starter.yaml
  bot/utils/randomization.py
Labels: s: waiting for author

#442 fix `reddit` command to use new emojis.
  bot/exts/evergreen/reddit.py
Labels: needs 1 approval

#421 Caesar cipher command
  bot/exts/evergreen/fun.py
  bot/resources/evergreen/caesar_info.json
Labels: needs 2 approvals, season: evergreen, type: feature

#443 Stop users from viewing messages they shouldn't.
  bot/exts/evergreen/fun.py
Labels: priority: 2 - normal, season: evergreen, type: bug

#445 Small fixes for the .issue command
  bot/constants.py
  bot/exts/evergreen/issues.py
Labels: priority: 2 - normal, season: evergreen

#448 Prevent uwu output from pinging globally allowed roles.
  bot/exts/evergreen/fun.py
Labels: area: frontend, priority: 1 - high, type: bug

#430 !wiki command
  bot/__init__.py
  bot/constants.py
  bot/exts/evergreen/wikipedia.py
Labels: level: 0 - beginner, season: evergreen, type: feature

#456 updated d.py to 1.4.1 and added voice as extra
  Dockerfile
  Pipfile
  Pipfile.lock
Labels: area: dependencies, priority: 2 - normal

#449 Add extension management commands
  bot/__main__.py
  bot/constants.py
  bot/exts/__init__.py
  bot/exts/evergreen/snakes/__init__.py
  bot/exts/evergreen/snakes/_converter.py
  bot/exts/evergreen/snakes/_snakes_cog.py
  bot/exts/evergreen/snakes/_utils.py
  bot/exts/utils/__init__.py
  bot/exts/utils/extensions.py
  bot/utils/checks.py
  bot/utils/extensions.py
Labels: area: backend, priority: 2 - normal, type: feature

#458 Update pillow to 7.2
  Pipfile
  Pipfile.lock
  bot/exts/evergreen/8bitify.py
Labels: priority: 1 - high, status: needs review

#459 Make .bm handle embed-suppression syntax for message links
  bot/exts/evergreen/bookmark.py
  bot/utils/converters.py
Labels: area: frontend, priority: 3 - low, season: evergreen, type: bug
