Repository python-discord/sir-lancebot, pull requests merged in 2021-01, with the labels that each got.

#510 Hackstats: Handle Non-existent GitHub username
  bot/exts/halloween/hacktoberstats.py
Labels: needs 2 approvals, needs core dev approval

#557 Adds New Voice Chat Channel To Constants
  bot/constants.py
Labels: area: backend, type: feature

#509 Spook Name Rate Game
  bot/exts/halloween/spookynamerate.py
  bot/resources/halloween/spookynamerate_names.json
Labels: needs 1 approval, needs core dev approval

#562 some new questions
  bot/resources/evergreen/trivia_quiz.json
Labels: area: backend, good first issue, level: 0 - beginner, needs 2 approvals, priority: 3 - low, season: evergreen, type: feature

#415 Adding the xkcd command.
  bot/exts/evergreen/xkcd.py
Labels: area: backend, level: 1 - intermediate, needs 2 approvals, priority: 2 - normal, season: evergreen, status: needs review, type: feature

#397 Tic-tac-toe command
  bot/constants.py
  bot/exts/evergreen/tic_tac_toe.py
Labels: area: backend, level: 1 - intermediate, needs 2 approvals, needs core dev approval, priority: 2 - normal, season: evergreen, status: needs review, type: feature
