Repository python-discord/sir-lancebot, pull requests merged in 2021-06, with the labels that each got.

#764 changed contribution link
  README.md
Labels: area: frontend, type: enhancement

#614 Tech Leaders Pride
  bot/exts/pride/pride_leader.py
  bot/resources/pride/prideleader.json
Labels: area: backend, season: pride, status: needs review, type: feature

#758 Added RPS command
  bot/exts/evergreen/rps.py
Labels: area: backend, season: evergreen, status: needs review, type: feature

#595 Update Tic Tac Toe Command
  bot/constants.py
  bot/exts/evergreen/tic_tac_toe.py
Labels: area: frontend, season: evergreen, status: needs review, type: enhancement

#774 Update Github emoji to new icons
  bot/constants.py
  bot/exts/evergreen/issues.py
Labels: status: needs review
