Repository python-discord/sir-lancebot, pull requests merged in 2021-12, with the labels that each got.

#900 Update role constants
  bot/constants.py
  bot/exts/core/internal_eval/_internal_eval.py
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/fun/snakes/_utils.py
  bot/exts/fun/trivia_quiz.py
Labels: area: backend, status: needs review, type: enhancement, category: core, category: content

#963 Make self_placement_name keyword-only in .aoc lb
  bot/exts/events/advent_of_code/_cog.py
Labels: type: bug, status: needs review, category: events

#964 Add `.aoc link` command
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/events/advent_of_code/_helpers.py
Labels: type: feature, status: needs review, category: events

#974 Fix message converter
  bot/__init__.py
  bot/exts/utilities/bookmark.py
  bot/monkey_patches.py
Labels: type: bug, area: backend, status: needs review, category: utilities

#944 minor: allow color command in dev-media
  bot/exts/utilities/colour.py
Labels: area: backend, status: needs review, type: enhancement, category: utilities

#978 Added user's score to Candy Command - Closes #947
  bot/exts/holidays/halloween/candy_collection.py
Labels: area: backend, status: needs review, type: enhancement, category: holidays

#991 Give AoC completer role to members with 50 stars
  bot/constants.py
  bot/exts/events/advent_of_code/_cog.py
  bot/utils/members.py
Labels: area: backend, status: needs review, type: enhancement, category: events
