Repository python-discord/sir-lancebot, pull requests merged in 2021-05, with the labels that each got.

#716 feat: Add the .mosaic command
  bot/exts/evergreen/avatar_modification/_effects.py
  bot/exts/evergreen/avatar_modification/avatar_modify.py
Labels: area: backend, season: evergreen, status: needs review, type: feature

#569 Reddit migration
  bot/constants.py
  bot/exts/evergreen/reddit.py
  bot/utils/converters.py
  bot/utils/messages.py
  bot/utils/pagination.py
Labels: area: backend, season: evergreen, status: needs review, type: feature

#722 feat: merge ping and uptime cogs
  bot/exts/evergreen/ping.py
  bot/exts/evergreen/uptime.py
Labels: area: backend, season: evergreen, status: needs review, type: enhancement

#645 Bookmark command allows other users to bookmark the same message
  bot/exts/evergreen/bookmark.py
Labels: area: backend, season: evergreen, status: needs review, type: enhancement, type: feature

#623 Pipenv to poetry
  .dockerignore
  .github/CODEOWNERS
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  Dockerfile
  Pipfile.lock
  bot/__init__.py
  bot/utils/pagination.py
  poetry.lock
  pyproject.toml
Labels: area: CI, area: backend, area: dependencies, area: tools, hacktoberfest-accepted, status: WIP, type: enhancement, type: feature

#726 Add "math" and "science" categories to the `.quiz` command (and more in desc)
  bot/constants.py
  bot/exts/evergreen/trivia_quiz.py
  bot/resources/evergreen/trivia_quiz.json
Labels: area: backend, season: evergreen, status: needs review, type: enhancement, type: feature

#733 Http status command randomness
  bot/exts/evergreen/status_codes.py
Labels: area: backend, season: evergreen, status: needs review, type: feature

#649 Porting Command Suggestions from python-discord/bot
  bot/constants.py
  bot/exts/evergreen/error_handler.py
Labels: area: backend, season: evergreen, status: needs review, type: feature

#751 Added "centisecond" in trivia_quiz.json
  bot/resources/evergreen/trivia_quiz.json
Labels: area: backend, season: evergreen
