Repository python-discord/sir-lancebot, pull requests merged in 2021-09, with the labels that each got.

#802 Fix type annotations
  bot/constants.py
  bot/exts/__init__.py
  bot/exts/christmas/advent_of_code/_cog.py
  bot/exts/christmas/advent_of_code/_helpers.py
  bot/exts/christmas/hanukkah_embed.py
  bot/exts/easter/bunny_name_generator.py
  bot/exts/easter/egg_decorating.py
  bot/exts/easter/egghead_quiz.py
  bot/exts/evergreen/avatar_modification/_effects.py
  bot/exts/evergreen/avatar_modification/avatar_modify.py
  bot/exts/evergreen/battleship.py
  bot/exts/evergreen/bookmark.py
  bot/exts/evergreen/cheatsheet.py
  bot/exts/evergreen/coinflip.py
  bot/exts/evergreen/connect_four.py
  bot/exts/evergreen/duck_game.py
  bot/exts/evergreen/emoji.py
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/fun.py
  bot/exts/evergreen/game.py
  bot/exts/evergreen/help.py
  bot/exts/evergreen/issues.py
  bot/exts/evergreen/minesweeper.py
  bot/exts/evergreen/movie.py
  bot/exts/evergreen/realpython.py
  bot/exts/evergreen/recommend_game.py
  bot/exts/evergreen/reddit.py
  bot/exts/evergreen/snakes/_converter.py
  bot/exts/evergreen/snakes/_snakes_cog.py
  bot/exts/evergreen/snakes/_utils.py
  bot/exts/evergreen/source.py
  bot/exts/evergreen/space.py
  bot/exts/evergreen/stackoverflow.py
  bot/exts/evergreen/tic_tac_toe.py
  bot/exts/evergreen/trivia_quiz.py
  bot/exts/evergreen/wikipedia.py
  bot/exts/evergreen/wolfram.py
  bot/exts/evergreen/xkcd.py
  bot/exts/halloween/hacktober-issue-finder.py
  bot/exts/halloween/hacktoberstats.py
  bot/exts/halloween/halloween_facts.py
  bot/exts/halloween/spookynamerate.py
  bot/exts/halloween/spookyrating.py
  bot/exts/halloween/timeleft.py
  bot/exts/internal_eval/_helpers.py
  bot/exts/internal_eval/_internal_eval.py
  bot/exts/pride/pride_leader.py
  bot/exts/utils/extensions.py
  bot/exts/valentines/be_my_valentine.py
  bot/exts/valentines/valentine_zodiac.py
  bot/utils/__init__.py
  bot/utils/checks.py
  bot/utils/converters.py
  bot/utils/decorators.py
  bot/utils/extensions.py
  bot/utils/pagination.py
  bot/utils/randomization.py
Labels: area: backend, type: enhancement

#839 Fix android codeblock rendering inconsistency
  bot/exts/evergreen/cheatsheet.py
  bot/exts/evergreen/emoji.py
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/githubinfo.py
  bot/exts/evergreen/help.py
  bot/exts/evergreen/snakes/_utils.py
  bot/exts/halloween/hacktoberstats.py
  bot/exts/pride/pride_leader.py
  bot/exts/utils/extensions.py
  bot/exts/valentines/valentine_zodiac.py
Labels: type: bug, area: frontend, status: needs review

#833 Teapot support - Continues PR #610
  bot/exts/evergreen/status_codes.py
Labels: type: feature, category: evergreen, status: needs review

#850 Set logging level for async-rediscache to warning
  bot/__init__.py
Labels: area: backend, status: needs review, type: enhancement

#618 Wikiguess Game
  bot/exts/fun/trivia_quiz.py
  bot/resources/fun/trivia_quiz.json
Labels: type: feature, area: backend, status: needs review, category: fun

#864 Added Hanukka command in November month.
  bot/exts/holidays/hanukkah/hanukkah_embed.py
Labels: area: backend, type: enhancement, category: holidays

#843 Hangman
  bot/exts/fun/hangman.py
  bot/resources/fun/hangman_words.txt
Labels: type: feature, good first issue, area: backend, status: needs review, category: fun

#867 added a .gitpod.yml
  .gitpod.yml
  README.md
Labels: type: feature, area: dependencies, status: needs review, area: tools, category: core
