Repository python-discord/sir-lancebot, pull requests merged in 2021-07, with the labels that each got.

#756 Add "cs" and "python" categories to the `.quiz` command (and more in desc)
  bot/exts/evergreen/trivia_quiz.py
  bot/resources/evergreen/trivia_quiz.json
Labels: area: backend, season: evergreen, status: needs review, type: enhancement

#777 Fix .scarymovie command (Halloween)
  bot/exts/halloween/scarymovie.py
Labels: area: backend, category: halloween, good first issue, status: needs review, type: enhancement

#791 Make user affirm their pr follows guidelines
  .github/pull_request_template.md
Labels: area: frontend, type: enhancement
