Repository python-discord/sir-lancebot, pull requests merged in 2021-04, with the labels that each got.

#577 First pass of easy to produce errors
  bot/exts/easter/easter_riddle.py
  bot/exts/evergreen/issues.py
  bot/exts/evergreen/wolfram.py
  bot/exts/halloween/candy_collection.py
Labels: area: backend, status: needs review, type: feature

#658 Migrate GHCR_TOKEN -> GITHUB_TOKEN in Docker build action
  .github/workflows/build.yaml
Labels: area: CI

#657 fix: use get_user in 8bitify to avoid events issues
  bot/exts/evergreen/8bitify.py
Labels: area: backend, season: evergreen, type: bug

#666 Remove topic that doesn't make sense in discord
  bot/resources/evergreen/starter.yaml
Labels: area: backend, season: evergreen, type: enhancement

#672 add timed command for timed execution of commands
  bot/exts/evergreen/timed.py
Labels: area: backend, season: evergreen, status: WIP, type: feature

#668 Add latex cog
  .gitignore
  Pipfile
  Pipfile.lock
  bot/exts/evergreen/latex.py
Labels: area: backend, season: evergreen, status: needs review, type: feature

#642 Allow automatic linking of issues everywhere
  bot/constants.py
  bot/exts/evergreen/issues.py
Labels: priority: 1 - high, season: easter, status: needs review, type: enhancement

#678 Remove inappropriate riddle
  bot/resources/easter/easter_riddle.json
Labels: area: backend, season: easter, type: enhancement

#681 feat: add ping command
  bot/exts/evergreen/ping.py
Labels: area: backend, season: evergreen, type: feature

#679 fix: display help for the correct command when an error occurs in timed
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/timed.py
Labels: area: backend, season: evergreen, status: WIP, type: enhancement

#673 Adding Internal Eval to Sir Lancebot
  bot/exts/internal_eval/__init__.py
  bot/exts/internal_eval/_helpers.py
  bot/exts/internal_eval/_internal_eval.py
Labels: area: backend, status: needs review, type: feature

#704 Suppress Links In Certain Commands
  bot/exts/easter/egg_decorating.py
  bot/exts/evergreen/catify.py
  bot/exts/evergreen/fun.py
  bot/utils/helpers.py
Labels: priority: 1 - high, status: needs review, type: bug

#702 Fix errors when a subreddit has <5 posts.
  bot/exts/evergreen/reddit.py
Labels: area: backend, season: evergreen, status: needs review, type: bug

#700 Reword PR Template
  .github/pull_request_template.md
Labels: area: docs, type: enhancement

#597 Move avatar commands into executors
  bot/__init__.py
  bot/bot.py
  bot/command.py
  bot/constants.py
  bot/exts/easter/avatar_easterifier.py
  bot/exts/evergreen/8bitify.py
  bot/exts/evergreen/avatar_modification/__init__.py
  bot/exts/evergreen/avatar_modification/_effects.py
  bot/exts/evergreen/avatar_modification/avatar_modify.py
  bot/exts/evergreen/help.py
  bot/exts/halloween/spookyavatar.py
  bot/exts/pride/pride_avatar.py
  bot/group.py
  bot/resources/pride/gender_options.json
Labels: area: backend, status: needs review, type: feature
