Repository python-discord/sir-lancebot, pull requests merged in 2021-08, with the labels that each got.

#583 Add the stackoverflow command
  bot/constants.py
  bot/exts/evergreen/stackoverflow.py
Labels: area: backend, category: evergreen, type: feature

#796 Added stackoverflow emoji IDs to constants.py
  bot/constants.py
Labels: area: backend, category: evergreen, status: needs review, type: bug

#806 Love command checks
  bot/exts/valentines/lovecalculator.py
Labels: category: valentines, area: backend, status: needs review, type: enhancement

#792 More topics to start Python-related conversations with.
  bot/resources/evergreen/py_topics.yaml
Labels: category: evergreen, area: backend, status: needs review, type: enhancement

#760 Adds `.reverse`
  bot/exts/evergreen/avatar_modification/_effects.py
  bot/exts/evergreen/avatar_modification/avatar_modify.py
Labels: type: feature, category: evergreen, area: backend, status: waiting for author

#795 Handle Wikipedia API errors and warnings in the Wikipedia Cog
  bot/exts/evergreen/error_handler.py
  bot/exts/evergreen/wikipedia.py
  bot/utils/exceptions.py
Labels: category: evergreen, area: backend, status: needs review, type: enhancement

#805 800 - Real Python search command
  bot/exts/evergreen/realpython.py
Labels: type: feature, category: evergreen, area: backend

#786 Duckduckduckgoose
  bot/exts/evergreen/duck_game.py
  bot/resources/evergreen/LuckiestGuy-Regular.ttf
  bot/resources/evergreen/all_cards.png
  bot/resources/evergreen/ducks_help_ex.png
Labels: type: feature, category: evergreen, area: backend, status: needs review

#814 Add coinflip command
  bot/constants.py
  bot/exts/evergreen/coinflip.py
Labels: type: feature, category: evergreen, status: needs review

#835 Migrate to Discord 2.0a0
  bot/bot.py
  bot/exts/easter/egg_decorating.py
  bot/exts/evergreen/avatar_modification/avatar_modify.py
  bot/exts/evergreen/bookmark.py
  bot/exts/evergreen/recommend_game.py
  bot/exts/evergreen/snakes/_converter.py
  bot/exts/evergreen/snakes/_snakes_cog.py
  bot/exts/evergreen/snakes/_utils.py
  bot/exts/utils/extensions.py
  poetry.lock
  pyproject.toml
Labels: priority: 1 - high, area: dependencies, type: enhancement
