Repository python-discord/sir-lancebot, pull requests merged in 2021-03, with the labels that each got.

#603 Added more topics.
  bot/resources/evergreen/py_topics.yaml
  bot/resources/evergreen/starter.yaml
Labels: area: frontend, priority: 1 - high, season: evergreen, status: needs review, type: enhancement

#600 Improve Wikipedia Command
  bot/constants.py
  bot/exts/evergreen/wikipedia.py
Labels: area: frontend, s: waiting for author, season: evergreen, type: enhancement

#482 Startup channel check
  bot/bot.py
Labels: area: backend, hacktoberfest-accepted, level: 0 - beginner, status: needs review, type: feature

#609 Earth photos
  bot/constants.py
  bot/exts/easter/earth_photos.py
Labels: season: evergreen, status: stalled, type: feature

#596 Add .pyfacts command
  bot/constants.py
  bot/exts/evergreen/pythonfacts.py
  bot/resources/evergreen/python_facts.txt
Labels: area: backend, s: waiting for author, season: evergreen, type: feature

#598 Removed the Question about the Nile
  bot/resources/evergreen/trivia_quiz.json
Labels: area: frontend, season: evergreen, status: WIP, type: enhancement

#462 Add emojis cog
  bot/exts/evergreen/emoji.py
  bot/utils/time.py
Labels: area: backend, season: evergreen, type: feature

#619 Added another alias and fixed a bug in Tic-Tac-Toe
  bot/exts/evergreen/tic_tac_toe.py
Labels: area: backend, season: evergreen, status: waiting for author, type: enhancement

#625 change ctx.send_help to ctx.invoke(help_command)
  bot/exts/christmas/advent_of_code/_cog.py
  bot/exts/evergreen/emoji.py
  bot/exts/evergreen/game.py
  bot/exts/evergreen/minesweeper.py
  bot/exts/evergreen/movie.py
  bot/exts/evergreen/snakes/_snakes_cog.py
  bot/exts/evergreen/space.py
  bot/exts/evergreen/status_codes.py
  bot/exts/utils/extensions.py
  bot/exts/valentines/be_my_valentine.py
  bot/utils/extensions.py
Labels: area: backend, status: needs review, type: enhancement

#644 Added more topics.
  bot/resources/evergreen/py_topics.yaml
  bot/resources/evergreen/starter.yaml
Labels: area: backend, season: evergreen, status: needs review, type: enhancement

#639 Added 3 More Elements To The Json
  bot/resources/easter/april_fools_vids.json
Labels: area: backend, season: easter, status: waiting for author, type: feature

#650 Update our policy documents
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Labels: area: tools, status: needs review, type: feature

#632 Make .github a group, and add github repo + user commands
  bot/exts/evergreen/githubinfo.py
Labels: area: backend, season: evergreen, status: needs review, type: feature
