Repository python-discord/sir-lancebot, pull requests merged in 2021-02, with the labels that each got.

#567 Automatically linking issues using repo#number in messages
  bot/constants.py
  bot/exts/evergreen/issues.py
Labels: area: backend, level: 1 - intermediate, season: evergreen, status: needs review, type: feature

#571 Dog status codes
  bot/exts/evergreen/status_cats.py
  bot/exts/evergreen/status_codes.py
Labels: area: backend, level: 0 - beginner, priority: 2 - normal, season: evergreen, status: needs review, type: feature

#572 Cheat.sh Command - Python cheatsheet
  bot/constants.py
  bot/exts/evergreen/cheatsheet.py
Labels: area: backend, level: 1 - intermediate, priority: 2 - normal, season: evergreen, status: needs review, type: feature

#554 Get env vars from .env file
  docker-compose.yml
Labels: level: 0 - beginner, priority: 3 - low, status: needs review, type: feature

#582 Add location mocks to the wolfram cog
  bot/exts/evergreen/wolfram.py
Labels: priority: 0 - critical, season: evergreen, type: bug

#578 Upgrade override
  bot/__main__.py
  bot/exts/christmas/advent_of_code/_cog.py
  bot/exts/evergreen/cheatsheet.py
  bot/exts/evergreen/conversationstarters.py
  bot/exts/halloween/hacktoberstats.py
  bot/utils/decorators.py
Labels: area: backend, priority: 2 - normal, season: evergreen, type: feature

#575 Fixes Valentine Commands Bug.
  bot/exts/valentines/be_my_valentine.py
  bot/exts/valentines/lovecalculator.py
Labels: area: backend, season: valentines, status: needs review, type: bug

#560 Connect Four Game
  Pipfile
  Pipfile.lock
  bot/constants.py
  bot/exts/evergreen/connect_four.py
  bot/exts/evergreen/error_handler.py
Labels: area: backend, level: 1 - intermediate, priority: 2 - normal, season: evergreen, status: WIP, type: feature

#604 Add issue cog to staff channels.
  bot/constants.py
  bot/exts/evergreen/issues.py
Labels: area: backend, status: needs review, type: feature
