Repository python-discord/sir-lancebot, pull requests merged in 2021-10, with the labels that each got.

#849 `.quack`
  bot/exts/fun/quack.py
Labels: type: feature, area: backend, status: needs review, category: fun

#877 Make the discord.py datetimes offset-naive
  bot/exts/events/hacktoberfest/hacktober-issue-finder.py
  bot/exts/utilities/emoji.py
Labels: type: bug, category: utilities

#891 Ignore all bot messages for spooky react
  bot/exts/holidays/halloween/spookyreact.py
Labels: area: frontend, type: enhancement, category: holidays

#785 Correct an off-by-one bug due to bisect.bisect()
  bot/exts/holidays/valentines/lovecalculator.py
Labels: type: bug, area: backend, status: waiting for author, category: fun
