Repository python-discord/sir-lancebot, pull requests merged in 2022-11, with the labels that each got.

#1095 Use buttons for bookmark command.
  bot/exts/utilities/bookmark.py
Labels: area: frontend, type: enhancement, category: utilities

#1151 Make The Latex API URL Configurable
  bot/exts/fun/latex.py
Labels: area: backend, type: enhancement, category: fun

#1155 Remove Advent of Code Cog
  bot/constants.py
  bot/exts/events/advent_of_code/__init__.py
  bot/exts/events/advent_of_code/_caches.py
  bot/exts/events/advent_of_code/_cog.py
  bot/exts/events/advent_of_code/_helpers.py
  bot/exts/events/advent_of_code/views/dayandstarview.py
  bot/resources/events/advent_of_code/about.json
  bot/utils/members.py
Labels: category: events
