Repository python-discord/sir-lancebot, pull requests merged in 2022-09, with the labels that each got.

#1099 Fix Poetry 1.2 Support
  .github/workflows/lint.yaml
  Dockerfile
Labels: type: bug, area: CI, priority: 1 - high, area: dependencies

#1096 Fix command suggestions.
  bot/exts/core/error_handler.py
  bot/utils/commands.py
Labels: type: bug, area: backend, status: stalled, category: core

#981 fix: subcommands inherit their parent's whitelist
  bot/utils/decorators.py
Labels: area: backend, status: needs review, type: enhancement, category: utilities

#1097 Fix issue #1050
  bot/exts/holidays/halloween/spookygif.py
Labels: type: bug, status: waiting for author, category: holidays
