Repository python-discord/sir-lancebot, pull requests merged in 2022-02, with the labels that each got.

#1020 Fix `.love` references to deprecated unsub command
  bot/exts/holidays/valentines/lovecalculator.py
Labels: type: bug, area: frontend, status: needs review, category: holidays

#910 Trivia night event
  bot/exts/events/trivianight/__init__.py
  bot/exts/events/trivianight/_game.py
  bot/exts/events/trivianight/_questions.py
  bot/exts/events/trivianight/_scoreboard.py
  bot/exts/events/trivianight/trivianight.py
Labels: type: feature, area: backend, status: needs review, category: events

#778 Merge automatic issue linking into the github cog
  bot/exts/utilities/githubinfo.py
  bot/exts/utilities/issues.py
Labels: area: backend, status: needs review, type: enhancement, category: utilities

#1022 Add topics for `#programming-pedagogy` channel
  bot/resources/utilities/py_topics.yaml
Labels: area: backend, status: needs review, type: enhancement, category: content

#1010 Latex Command
  .gitignore
  bot/exts/fun/latex.py
  bot/resources/fun/latex_template.txt
Labels: type: feature, area: backend, status: needs review, category: utilities

#1033 Allow `.src` in dev-contrib and community-meta
  bot/constants.py
  bot/exts/core/error_handler.py
  bot/exts/core/source.py
  bot/exts/holidays/easter/egg_facts.py
  bot/exts/holidays/halloween/candy_collection.py
  bot/exts/holidays/halloween/spookynamerate.py
  bot/exts/holidays/pride/pride_facts.py
  bot/exts/holidays/pride/pride_leader.py
  bot/exts/holidays/valentines/be_my_valentine.py
  bot/exts/holidays/valentines/lovecalculator.py
  bot/utils/checks.py
  bot/utils/decorators.py
Labels: area: frontend, type: enhancement, category: core

#1037 Fix error in pull 1033
  bot/exts/core/source.py
Labels: type: bug, priority: 1 - high, status: needs review, category: core

#1039 Add run bot step during lint
  .github/workflows/lint.yaml
  bot/__main__.py
  bot/constants.py
Labels: area: CI, priority: 1 - high, status: needs review, type: enhancement
