Repository python-discord/sir-lancebot, pull requests merged in 2022-01, with the labels that each got.

#996 AoC month changes
  bot/exts/events/advent_of_code/_cog.py
  tox.ini
Labels: area: backend, area: frontend, status: needs review, type: enhancement, category: events

#953 Add Better Support For Whitelisting DM Commands
  bot/exts/fun/anagram.py
  bot/exts/fun/battleship.py
  bot/exts/fun/connect_four.py
  bot/exts/fun/tic_tac_toe.py
  bot/utils/decorators.py
Labels: type: bug, area: backend, status: needs review

#901 Madlibs
  bot/exts/fun/madlibs.py
  bot/resources/fun/madlibs_templates.json
Labels: type: feature, area: backend, status: needs review, category: fun

#972 Yank aoc subscribe
  bot/exts/events/advent_of_code/_cog.py
Labels: area: backend, status: needs review, type: enhancement, category: events

#998 Update GitHub issue closed emoji
  bot/constants.py
Labels: area: frontend, status: needs review, type: enhancement, category: content

#983 Epoch command
  bot/exts/utilities/epoch.py
Labels: type: feature, area: backend, status: needs review, category: utilities

#1008 Fix aoc join in date logic
  bot/exts/events/advent_of_code/_cog.py
Labels: type: bug, area: backend, status: needs review, category: events

#1011 Fix AoC name lookup for anon users
  bot/exts/events/advent_of_code/_cog.py
Labels: type: bug, area: backend, status: needs review, category: events

#1005 fix OverflowError in epoch command
  bot/exts/utilities/epoch.py
Labels: type: bug, area: backend, status: needs review, category: utilities

#969 nit: make last refreshed time above the rest of the embed
  bot/exts/events/advent_of_code/_helpers.py
Labels: area: backend, status: needs review, type: enhancement, category: holidays

#973 Make error messages more consistent in the AoC daystar view
  bot/exts/events/advent_of_code/views/dayandstarview.py
Labels: area: backend, status: needs review, type: enhancement, category: events

#1014 Added even more conversation starter topics.
  bot/resources/utilities/py_topics.yaml
  bot/resources/utilities/starter.yaml
Labels: area: frontend, status: needs review, type: enhancement, category: content
