Repository python-discord/sir-lancebot, pull requests merged in 2022-03, with the labels that each got.

#1041 truncate output.
  bot/exts/core/internal_eval/_internal_eval.py
Labels: area: backend, status: needs review, type: enhancement, category: core

#1036 Handle Missing Logs in Latex API Response
  bot/exts/fun/latex.py
Labels: area: backend, status: needs review, type: enhancement, category: utilities

#988 Add Twemoji utility command
  bot/constants.py
  bot/exts/utilities/twemoji.py
  poetry.lock
  pyproject.toml
Labels: type: feature, area: backend, status: needs review, category: utilities
