Repository python-discord/sir-lancebot, pull requests merged in 2022-10, with the labels that each got.

#1110 Fix position-only arg in hangman & madlibs command.
  bot/exts/fun/hangman.py
  bot/exts/fun/madlibs.py
Labels: type: bug, area: backend, status: needs review, category: fun

#1111 Fix order of function parameters on @discord.ui.select
  bot/exts/events/advent_of_code/views/dayandstarview.py
  bot/exts/events/trivianight/_scoreboard.py
  bot/exts/utilities/epoch.py
Labels: type: bug, area: backend, status: needs review, category: events, category: utilities

#1112 Fix hacktoberfest-issues bug
  bot/exts/events/hacktoberfest/hacktober-issue-finder.py
Labels: type: bug, area: backend, status: needs review, category: events

#1118 Add bat spooky reaction
  bot/exts/holidays/halloween/spookyreact.py
Labels: area: frontend, status: needs review, type: enhancement, category: holidays

#1060 Fix the TMDB API error handling in movie cog
  bot/exts/fun/movie.py
Labels: area: backend, status: needs review, type: enhancement, category: utilities

#1119 `REPO_TOKEN` is no more.
  .github/workflows/build.yaml
Labels: status: needs review, type: enhancement

#1126 Remove calls to deprected `.flatten()` method.
  bot/exts/holidays/easter/egghead_quiz.py
  bot/exts/holidays/halloween/candy_collection.py
Labels: type: bug, area: backend, status: needs review, category: holidays

#1129 Add ability to use replied message's content as `.randomcase` argument.
  bot/exts/fun/fun.py
Labels: area: frontend, status: needs review, type: enhancement, category: fun

#1136 Catch more status codes in Wolfram commands
  bot/exts/utilities/wolfram.py
Labels: type: bug, hacktoberfest-accepted

#1137 updated bot/exts/core/help.py for Issue #1122
  bot/exts/core/help.py
Labels: area: backend, status: needs review, type: enhancement, category: core
