Repository python-discord/sir-lancebot, pull requests merged in 2024-03, with the labels that each got.

#1444 Use paginator from botcore
  bot/exts/core/help.py
  bot/utils/pagination.py
Labels: area: backend, status: needs review, type: enhancement, category: core

#1467 Add trivia questions
  bot/resources/fun/trivia_quiz.json
Labels: area: frontend, type: enhancement, category: fun, category: content

#1485 Removed inactive users from `CODEOWNERS`
  .github/CODEOWNERS
Labels: status: needs review, type: enhancement, area: tools, category: utilities

#1487 Support issues closed as not-planned in GitHub Issue linking
  bot/constants.py
  bot/exts/utilities/githubinfo.py
Labels: area: frontend, status: needs review, category: utilities
